html{
    background: #054f8a;
}
.curl{
    width: 128px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
        135deg,
        #fff,
        #f3f3f3 45%,
        #ddd 50%,
        #aaa 50%,
        #bbb 56%,
        #ccc 62%,
        #f3f3f3 80%,
        #fff 100%
    );
    box-shadow: 0 0 10px #00000080;
    transition: all .5s ease;
}
.curl::before 
.curl::after{
    content: "";
    position: absolute;
    z-index: -1;
    left: 12.5%;
    bottom: 5.8%;
    width: 70%;
    max-width: 300px;
    max-height: 100px;
    height: 55px;
    box-shadow: 0 12px 15px #0000004d;
    transform: skew(-10deg) rotate(-6deg);

}
.curl::after {
  left: auto;
  right: 5.8%;
  bottom: auto;
  top: 14.16%;
  transform: skew(-15deg) rotate(-84deg);
    
}

.curl:hover{
    width: 400px;
    height: 400px;

}
.curl:hover::before 
.curl:hover::after{
    box-shadow: 0 24px 30px #0000004d;

}
h1{
    text-align: center;
    font-size: 5em;
    text-transform: uppercase;
    text-shadow: 0 1px 1px #00000033;
    color: #fff;
    margin: 2em 0 0.25em;
    padding: 0;
}

p{
    text-align: center;
    font-weight: bold;
    color: lightblue;
    text-shadow: 0 1px 1px #00000033;
}